.pagination {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 50px;
}

.pagination span {
    margin-right: 10px;
}

.pageNumber {
    font-weight: normal;
}

.pageNumber.selectedPage {
    font-weight: bold;
}

.paginatorButton {
    width: 50px;
    margin-top: 0;
}
