.userPhoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

button {
    width: 200px;
}

.usersPhoto {
    display: flex;
    flex-direction: column;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 80vw;
    height: 50px;
}

.pagination span {
    margin-right: 10px;
}